
    <h1 tooltip-html="true" tooltip="<h1>324</h1><p>fasdfasf</p>">angular-pnotify demo</h1>
    <p><button ng-click="success()" class="btn btn-success">Success</button></p>
    <p><button ng-click="info()" class="btn btn-info">Info</button></p>
    <p><button ng-click="notice()" class="btn btn-warning">Notice</button></p>
    <p><button ng-click="error()" class="btn btn-danger">Error</button></p>
    <p>Use the generic PNotify object.</p>
    <p><button ng-click="generic()" class="btn btn-primary">Generic PNotify</button></p>
    <p><button ng-click="confirmDialog()" class="btn btn-primary">Confirm dialog</button></p>
    <p><button ng-click="overrideDefaults()" class="btn btn-primary">Override defaults</button></p>
    <p><button ng-click="stackTopLeft()" class="btn btn-primary">Stack top left</button></p>
    <p><button ng-click="stackBottomRight()" class="btn btn-primary">Stack bottom right</button></p>
