
<section class="row">
  <div class=" col-xs-12 col-sm-6 col-md-3 ">
    <div class="panel ">
      <div class="panel-body">
        <div class="tile-three">
          <div class="tile-icon"><i class="fa fa-cube circleBG-blue fa-2x"></i></div>
          <div class="tile-content">
            <h3><span count-to="90" duration="3" count-from="0"></span></h3>

            <h5>虚拟机<span class="text-muted font-12">（个）</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--col-->
  <div class=" col-xs-12 col-sm-6 col-md-3 ">
    <div class="panel ">
      <div class="panel-body">
        <div class="tile-three">
          <div class="tile-icon"><i class="fa fa-desktop circleBG-green fa-2x"></i></div>

          <div class="tile-content">
            <h3><span count-to="2312" duration="3" count-from="0"></span></h3>

            <h5>主机<span class="text-muted font-12">（个）</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--col-->
  <div class=" col-xs-12 col-sm-6 col-md-3 ">
    <div class="panel">
      <div class="panel-body">
        <div class="tile-three">
          <div class="tile-icon"><i class="fa fa-cubes circleBG-purple fa-2x"></i></div>

          <div class="tile-content">
            <h3><span count-to="456" duration="3" count-from="0"></span></h3>

            <h5>集群<span class="text-muted font-12">（个）</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--col-->
  <div class=" col-xs-12 col-sm-6 col-md-3 ">
    <div class="panel">
      <div class="panel-body">
        <div class="tile-three">
          <div class="tile-icon"><i class="fa fa-file-code-o circleBG-red fa-2x"></i></div>

          <div class="tile-content">
            <h3><span count-to="1234" duration="3" count-from="0"></span></h3>

            <h5>镜像<span class="text-muted font-12">（个）</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--col-->
  <div class=" col-xs-12 col-sm-6 col-md-3 ">
    <div class="panel">
      <div class="panel-body">
        <div class="tile-three">
          <div class="tile-icon"><i class="fa fa-database circleBG-yellow fa-2x"></i></div>

          <div class="tile-content">
            <h3><span count-to="1234" duration="3" count-from="0"></span></h3>

            <h5>数据卷<span class="text-muted font-12">（GB）</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--col-->
  <div class=" col-xs-12 col-sm-6 col-md-3 ">
    <div class="panel">
      <div class="panel-body">
        <div class="tile-three">
          <div class="tile-icon"><i class="fa fa-bar-chart  circleBG-lightBlue fa-2x"></i></div>

          <div class="tile-content">
            <h3><span count-to="1234" duration="3" count-from="0"></span></h3>

            <h5>路由器<span class="text-muted font-12">（个）</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--col-->
  <div class=" col-xs-12 col-sm-6 col-md-3 ">
    <div class="panel">
      <div class="panel-body">
        <div class="tile-three">
          <div class="tile-icon"><i class="fa fa-bar-chart  circleBG-orange fa-2x"></i></div>

          <div class="tile-content">
            <h3><span count-to="1234" duration="3" count-from="0"></span></h3>

            <h5>私有网络<span class="text-muted font-12">（个）</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--col-->
  <div class=" col-xs-12 col-sm-6 col-md-3 ">
    <div class="panel">
      <div class="panel-body">
        <div class="tile-three">
          <div class="tile-icon"><i class="fa fa-bar-chart circleBG-grey fa-2x"></i></div>

          <div class="tile-content">
            <h3><span count-to="1234" duration="3" count-from="0"></span></h3>

            <h5>虚拟防火墙<span class="text-muted font-12">（个）</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--col-->
</section>
<div class="row">
  <section class="col-sm-3">
    <div class="panel mirVM " tooltip="33 days, 3 hours and 21 minss">
      <div class="panel-body">
        <ul class="list-unstyled ">
          <li><h6 class="bold">oracle_jinwei_demo2 → oracle-role-demo1 #1</h6></li>
          <li><span class="font-12 text-success">(5ed078f9-...-c5a465279c80)</span></li>
          <li><img src="../assets/images/roles_ico/openstack.png" class="vmImg"></li>
          <li><label class="label label-success m-t-10" style="display: block;">运行中</label></li>
          <li class="vmOthers">
            公有IP：<span class="text-success">172.16.60.192</span>
            <br/>
            私有IP：<span class="text-success">192.168.100.61</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="col-sm-3">
    <ul class="ch-grid">
      <li  tooltip="shield_sqoop_job" class="ng-scope">
        <div class="ch-card">
          <div class="ch-item ch-img-i">
            <div class="ch-info-wrap">
              <div class="ch-info">
                <div class="ch-info-front bg-light lt" style="background-image: url(img/address.png)">
                </div>
                <div class="ch-info-back ch-img-i">
                </div>
              </div>
            </div>  </div>
          <div class="font-bold h5 text-info text-center m-t m-b-sm ng-binding">test001</div>
          <p class="text-xs text-center ng-binding" style="font-style: italic;height: 22px">创建者：xxx</p>
          <div class="cardbtn ng-scope" >
            <a class="btn btn-info btn-xs m-b-sm" >查看</a>
            <a class="btn btn-success btn-xs m-b-sm">应用</a>
            <a class="btn btn-danger btn-xs m-b-sm">删除</a></div>
        </div>
    </ul>

  </section>
  <section class="col-sm-6">
    <div class="panel">
      <div class="panel-body no-padding">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <section class="col-sm-6">
    <div class="panel">
      <div class="panel-body">
        <h3>标题字体</h3>

        <h1>一级标题</h1>

        <h2>二级标题</h2>

        <h3>三级标题，通常用于页面内容区域中，作为页面内容大标题</h3>
        <h4>四级标题</h4>
        <h5>五级标题</h5>
        <h6>六级标题</h6>
      </div>
    </div>
  </section>
  <section class="col-sm-6">
    <div class="panel">
      <div class="panel-body">
        <!-- Standard button -->
        <button type="button" class="btn btn-default">Default</button>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary">Primary</button>

        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success">Success</button>

        <!-- Contextual button for informational alert messages -->
        <button type="button" class="btn btn-info">Info</button>

        <!-- Indicates caution should be taken with this action -->
        <button type="button" class="btn btn-warning">Warning</button>

        <!-- Indicates a dangerous or potentially negative action -->
        <button type="button" class="btn btn-danger">Danger</button>

        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
        <button type="button" class="btn btn-link">Link</button>
        <hr/>
        <span class="label label-default">Default</span>
        <span class="label label-primary">Primary</span>
        <span class="label label-success">Success</span>
        <span class="label label-info">Info</span>
        <span class="label label-warning">Warning</span>
        <span class="label label-danger">Danger</span>
        <hr/>
        <span class="label label-gray">Default</span>
        <span class="label label-green">Success</span>
        <span class="label label-blue">Info</span>
        <span class="label label-yellow">Warning</span>
        <span class="label label-red">Danger</span>
        <hr/>
        <div>
          <script type="text/ng-template" id="myModalContent.html">

            <div class="alert alert-block alert-warning no-margin " style="border: 0px;">
              <button type="button" class="close" data-dismiss="alert"></button>
              <h4 class="alert-heading text-center">WARNING</h4>
              <p>content</p>
              <div class="button-set">
                <button class="btn btn-primary btn-cons" type="button" data-ng-click="ok()"> {{'BTN_OK'| translate}}</button>
                <button class="btn btn-white btn-cons" type="button" data-ng-click="cancel()">{{'BTN_CANCEL'| translate}}</button>
                <button class="btn btn-white btn-cons" type="button">继续编辑</button>
              </div>
            </div>

          </script>

          <button class="btn btn-default" ng-click="open()">Open me!</button>

        </div>
      </div>
    </div>
  </section>
  <section class="clearfix"></section>
  <section class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>bg-info</h4></div>
      <div class="panel-body bg-info">
        Panel content
      </div>
    </div>
  </section>
  <section class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>bg-primarys</h4></div>
      <div class="panel-body bg-primary">
        Panel content
      </div>
    </div>
  </section>
  <section class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>bg-warning</h4></div>
      <div class="panel-body bg-warning">
        Panel content
      </div>
    </div>
  </section>
  <section class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>bg-success</h4></div>
      <div class="panel-body bg-success">
        Panel content
      </div>
    </div>
  </section>
  <section class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>bg-dangers</h4></div>
      <div class="panel-body bg-danger">
        Panel content
      </div>
    </div>
  </section>
  <section class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>bg-muted</h4></div>
      <div class="panel-body bg-muted">
        Panel content
      </div>
    </div>
  </section>
  <section class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Panel heading without title</h4></div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </section>
  <section class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </section>
  <section class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>form</h4></div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="" class="col-sm-2 control-label" tooltip="以字母开头，长度在6-18之间">用户名（以字母开头，长度在6-18之间）：<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" placeholder="Name" cc-validate="name" cc-validate-model="aaa.username" >
              <div><span>通过验证后的值：{{aaa.username}}</span></div>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">允许中文：<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" placeholder="允许中文" cc-validate="name_cn" cc-validate-model="username_cn"  cc-validate-result="validateRes">
              <div><span>{{username_cn}}</span></div>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">方法回调验证：<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  cc-validate="" cc-validate-model="funreback" cc-validate-fun="checkMe" cc-validate-result="validateRes">
              <div><span>{{funreback}}</span></div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Email" cc-validate="email" cc-validate-model="email001"  >
              <div><span>{{email001}}</span></div>
            </div>

          </div>
          <div class="form-group">
            <label for="inputurl" class="col-sm-2 control-label">url_m：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputurl" placeholder="http|https" cc-validate="url_m" cc-validate-model="urlString" >
              <div><span>{{urlString}}</span></div>
            </div>

          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" placeholder="Email" cc-validate="email" cc-validate-model="email002" cc-validate-result="validateRes" >
              <div><span>{{email001}}</span></div>
            </div>
            将验证结果保存至$rootScope中的validateRes：{{validateRes}}
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">自定义正则表达式验证：</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" placeholder="允许中文" cc-validate="userdef" cc-validate-model="userdef" cc-validate-reg="^[a-zA-Z]\w{5,17}$" cc-validate-errmsg="正则表达式验证出错">
              <div><span>{{userdef}}</span></div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password：<span class="text-danger">*</span></label>

            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password" cc-validate="password" cc-validate-model="password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">重复密码：<span class="text-danger">*</span></label>

            <div class="col-sm-10">
              <input type="password" class="form-control" placeholder="Password" cc-validate="password2" cc-validate-model="password2" cc-validate-link-model="password">
            </div>
          </div>
          <div>
            密码：{{password}}
            密码2：{{password2}}
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">IP地址</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" placeholder="IP地址" cc-validate="ip" cc-validate-model="ipaddr" >
              <div><span>{{ipaddr}}</span></div>
            </div>
          </div>
          <div class="form-group"  data-ng-controller="tagsCtrl">
            <label for="inputPassword3" class="col-sm-2 control-label">标签</label>
            <div class="col-sm-10">
              <tags-input ng-model="tags">
                <auto-complete source="loadTags($query)"></auto-complete>
              </tags-input>
            </div>
          </div>
          <div class="form-group clearfix"  ng-controller="datepickerCtrl">
            <label class="col-xs-2 text-right m-t-30">起始时间：<span class="text-danger">*</span></label>
            <div class="col-xs-2  m-t-30">
              <p class="input-group">
                <input type="text" class="form-control"
                       datepicker-popup="{{format}}"
                       ng-model="dt"
                       is-open="status.startOpened"
                       min-date="minDate"
                       max-date="maxDate"
                       datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)"
                       ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"ng-click="openStart($event)"><i
                  class="fa fa-calendar"></i></button>
            </span>
              </p>

            </div>
            <div class="col-xs-2">
              <timepicker
                ng-model="dt"
                ng-change="changed()"
                hour-step="hstep"
                minute-step="mstep"
                show-meridian="ismeridian">
              </timepicker>
            </div>
            <label class="col-xs-2 text-right m-t-30">时间字段：<span class="text-danger">*</span></label>
            <div class="col-xs-4 m-t-30"> <input class="form-control"></div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">date</label>

            <div class="col-sm-10">
              <input type="text" pick-a-date="date" placeholder="Select Date" class="form-control" pick-a-date-options="{ format: 'yyyy-mm-dd' }"/>
            </div>
          </div>
          <div class="form-group"  ng-controller="selectCtrl">
            <label class="col-sm-2 control-label">下拉框</label>
            <div class="col-sm-6">
            <p>Selected: {{person.selected}}</p>
            <ui-select ng-model="person.selected" theme="bootstrap">
              <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="item in people | filter: $select.search">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
                <small ng-bind-html="item.email | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
              </div>
          </div>
          <div class="form-group" ng-controller="multiSelectCtrl">
            <label class="col-sm-2 control-label">多选下拉</label>
            <div class="col-sm-10">
            <div translation-texts="mulTranslation"
              ng-dropdown-multiselect="" options="example1data" selected-model="example1model"></div>
          </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">checkbox</label>
            <div class="col-sm-6">
              <label class="i-checks m-t-5">
                <input type="checkbox" checked>
                <i></i>
              </label>
              <label class="i-checks m-t-5">
                <input type="checkbox"  >
                <i></i>
              </label>
              <label class="i-checks m-t-5">
                <input type="radio"  name="test" checked>
                <i></i>
              </label>
              <label class="i-checks m-t-5">
                <input type="radio"  name="test">
                <i></i>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 text-right">点击复制</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter text to copy" ng-model="copy1">
            <button class="btn btn-default" clip-copy="copy1">Copy!</button>
          </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary" data-ng-disabled="!username || !username_cn || !password || email001Valid.validErr">Sign in{{email001Valid.validErr}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>table</h4> <input type="text" data-ng-model="hiddenCol"/>  <input type="text" data-ng-model="filterText"/></div>
      <div class="panel-body">
        <table class="table table-striped table-hover trinity-table " data-hide-cols="{{hiddenCol}}" >
          <tr>
            <th width="30"></th>
            <th width="80" data-hidetooltip="true">列1</th>
            <th>列2</th>
            <th>列3</th>
            <th>列4</th>
            <th width="60">列5</th>
            <th width="120" hidetooltip="true">列6</th>
            <th width="400" hidetooltip="true">操作</th>
          </tr>
          <tr ng-repeat="d in tableData.data | filter:{name:filterText}">
            <td>
              <div table-collapsible-row>
                <p>{{d.clientid}}</p>
                <p>{{d.name}}</p>
                <p>{{d.dtadded}}</p>
                <p>{{d.created_by_email}}</p>
                <p>{{d.roles}}</p>
                <p>{{d.status_txt}}</p>
              </div>
            </td>
            <td>
              {{d.clientid}}

            </td>
            <td>{{d.name}}</td>
            <td>{{d.dtadded}}</td>
            <td>{{d.created_by_email}}</td>
            <td>{{d.roles}}</td>
            <td>{{d.status_txt}}</td>
            <td>
              <button auth="FARMS.launch" class="btn btn-link btn-xs " data-ng-click="launch(appStackList.id)"
                      confirm="确定要启动应用吗？"><span data-translate="START"></span></button>
              <button auth="FARMS.terminate" class="btn btn-link btn-xs " data-ng-click="terminate(appStackList.id)"
                      confirm="确定要停止应用吗？"><span data-translate="STOP"></span></button>
              <button auth="FARMS.clone" class="btn btn-link btn-xs " data-ng-click="clone(appStackList.id)"
                      confirm="确定要克隆应用吗？"><span data-translate="CLONE"></span></button>
              <button auth="FARMS.manage" class="btn btn-link btn-xs "
                      data-ui-sref="dev.appStack.info({id:appStackList.id})"><span
                data-translate="CONFIGURATION"></span></button>
              <button auth="FARMS.manage" class="btn btn-link btn-xs " data-ng-click="delete(appStackList.id)"
                      data-ng-disabled="appStackList.status == 1"
                      confirm="确定要删除应用吗？"><span data-translate="DELETE"></span></button>

            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>
<div class="panel">
  <div class="panel-body">
    <table class="table table-striped table-hover " >
      <tr>
        <th width="60" class="text-right" >列1</th>
        <th>列2</th>
        <th>列3</th>
        <th width="400" >操作</th>
      </tr>
      <tr ng-repeat="d in tableData.data | filter:{name:filterText}">
        <td>{{d.clientid}}</td>
        <td>{{d.name}}</td>
        <td>{{d.dtadded}}</td>
        <td>
          <button auth="FARMS.launch" class="btn btn-link btn-xs " data-ng-click="launch(appStackList.id)"
                  confirm="确定要启动应用吗？"><span data-translate="START"></span></button>
          <button auth="FARMS.terminate" class="btn btn-link btn-xs " data-ng-click="terminate(appStackList.id)"
                  confirm="确定要停止应用吗？"><span data-translate="STOP"></span></button>
          <button auth="FARMS.clone" class="btn btn-link btn-xs " data-ng-click="clone(appStackList.id)"
                  confirm="确定要克隆应用吗？"><span data-translate="CLONE"></span></button>
          <button auth="FARMS.manage" class="btn btn-link btn-xs "
                  data-ui-sref="dev.appStack.info({id:appStackList.id})"><span
            data-translate="CONFIGURATION"></span></button>
          <button auth="FARMS.manage" class="btn btn-link btn-xs " data-ng-click="delete(appStackList.id)"
                  data-ng-disabled="appStackList.status == 1"
                  confirm="确定要删除应用吗？"><span data-translate="DELETE"></span></button>
        </td>
        <td table-collapsible-row>
          <p>{{d.clientid}}</p>
          <p>{{d.name}}</p>
          <p>{{d.dtadded}}</p>
          <p>{{d.created_by_email}}</p>
          <p>{{d.roles}}</p>
          <p>{{d.status_txt}}</p>
        </td>
      </tr>

    </table>
  </div>
</div>
<section class="row m-b-10" data-ng-controller="popoverCtrl">
  <div class="col-xs-6">
    <script type="text/ng-template" id="popover">
      <div class="triangle"></div>
      <div class="ns-popover-tooltip">
        <p>111The server has finished initializing. Scalarizr has fired the HostUp event, and will continue to process further orchestration events.</p>

      </div>
    </script>
    <span>friendlyDate: 2016-02-26 8:22:34 => {{'2016-02-26 8:22:34' | friendlyDate :{dateFormat:'yyyy-MM-dd HH:mm',level:5} }}
      |  Feb 24, 2016 12:46:51 => {{'Feb 24, 2016 12:46:51' | friendlyDate : 'yyyy-MM-dd HH:mm'}}
       |  124565315465 => {{124565315465 | friendlyDate : 'yyyy-MM-dd HH:mm'}}
      |  '124565315465' => {{'124565315465' | friendlyDate : 'yyyy-MM-dd HH:mm'}}
    </span>

    <button ns-popover
            ns-popover-theme="ns-popover-tooltip-theme"
            class="btn btn-default"
            ns-popover-timeout=0"
            ns-popover-popup-delay="0.7"
            ns-popover-trigger="mouseenter"
            ns-popover-placement="left"
            ns-popover-template="popover">
      Popover
    </button>
    <a href="javascript:;" class="btn btn-default"
       ns-popover
       ns-popover-template="popover_content"
       ns-popover-trigger="mouseenter"
       ns-popover-placement="bottom"
       ns-popover-theme="ns-popover-tooltip-theme"
       ns-popover-hide-on-click="false"
       ns-popover-timeout="0">
      test456464
    </a>
    <script type="text/ng-template" id="popover_content">
      <div class="triangle"></div>
      <div class="ns-popover-tooltip">
        指向显示的内容fdasdfasd
      </div>
    </script>
  </div>
  <div class="col-xs-6">
    <div class=" errorPopover">
      popover
      <div class="errorPopover-content">
        <h5></h5>
        <p>The server has finished initializing. Scalarizr has fired the HostUp event, and will continue to process further orchestration events.</p>
      </div>
    </div>
  </div>
</section>
<div class="panel">
  <div class="panel-body">

    <tabset justified="true">
      <tab heading="Justified">Justified content</tab>
      <tab heading="SJ">Short Labeled Justified content</tab>
      <tab heading="Long Justified">Long Labeled Justified content</tab>
    </tabset>
  </div>
</div>

