$nav-bg: #403f3a !default;
$navHover: #ffffff !default;
$navHoverBg: #B09573 !default;
$navActive: #535049 !default;

.nav-wrapper {
 background:$nav-bg;
 border-right: 1px solid #151515;
 width: 200px;
 z-index: 100;
 position:fixed;
 left: 0;
 top:0;
 height:100%;

 .logo {

  height: 80px;
  font-size: 24px;
  color: #e1e1df;
  text-transform: uppercase;
  text-align: left;
  line-height: 80px;
  margin: 0px;
  padding: 0px 0px 0px 10px;
  background: transparent;
//  border-bottom: 1px solid #53524e;
   width: 200px;
  img{
   margin-right:5px;
   margin-top:-5px;
   margin-left:10px;
  }

 }
 ul {
  margin: 0px;
  padding-top: 0px;
 }
}

#navDiv .nav {
 padding: 0;
 width: 200px;
 > li {
  position: initial;
  display: block;
  border: 0px;

  &:first-child > a {
   border-top: 0;
   margin-top: 20px;
  }
  > a {
   position: relative;
   display: block;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   padding: 15px 0px 15px 25px;
   //color: lighten($nav-bg, 50%);

//   @include transition(all .2s ease-in-out);

   > .fa, .glyphicon {
    font-size: 24px;
    margin-right: 25px;

    &:last-child{
     margin-top: 5px;
     margin-right: 15px;
     font-size: 11px;
    }
   }

   &:hover,
   &:focus {
    text-decoration: none;
    color: $navHover;
    background-color: $navHoverBg;
    cursor: pointer;

    > .fa, .glyphicon {
//     color: $navHover;
    }
   }

   > .badge {
    position: absolute;
    top: 13px;
    right: 30px;
    font-weight: normal;
   }
   > i {
    position: relative;
    display: block;
    float: left;
    width: 28px;
    padding-right: 5px;
    line-height: 20px;
    text-align: center;
    &:before {
     position: relative;
     z-index: 1;
    }
   }
  }

  &.active {
   a {
    text-decoration: none;
    color: $navHover;
    background-color: $navHoverBg;

    > .fa, .glyphicon {
//     color: $navHover;
    }
   }
  }

 }
 .open > a {
  &,
  &:hover,
  &:focus {
   text-decoration: none;
   color: $navHover;
   background-color: $navHoverBg;
   > .fa, .glyphicon {
    //color: $navHover;
   }
  }
 }

 // sub menu
 ul.sub-menu {
  height: 100%;
  display: none;
  //background: $navHoverBg;
  position: absolute;
  left: 60px;
  top:0;
  z-index: 100;
  width: 140px;
  line-height: 28px;
  padding: 0px;



  a {
   font-size: 12px;
   font-weight: 500;
   //color:#e3e1cc;
   text-transform: uppercase;
   background: transparent;

   i{
    margin-right: 5px;
   }

   &:hover,
   &:active,
   &.active {
    text-decoration: none;
   // color: #f0e6cd;
   }
  }

  li {
   position: relative;
   list-style: none;
   padding: 5px 15px;

   &:hover,
   &.active {
    //color: #f0e6cd;
   // background-color: #b79b69;
    cursor: pointer;
   }
   &:first-child {
    margin-top: 80px;
   }
   &:last-child > a {
    border-bottom: 0;
   }

   > a {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
//    @include transition(all .1s ease-in-out);
    &:first-child {
     border-top: none;
    }
   }
  }
 }
}

/* 菜单宽度切换按钮*/
.navswitch{
  position: fixed;
  z-index: 110;
  bottom: 10px;
  left: 22px;
}
.navswitch a{
  color: #fff;
  opacity: 0.5;
}
.navswitch a:hover{
  opacity: 0.8;
}
#navDiv{
  width: 200px;
  overflow: hidden;
//  @include transition(all .1s ease-in-out);
}

//webb-ui NAV
#navDiv .nav>li>a{
  font-size: 14px;
  padding: 10px 0px 10px 20px;
}
#navDiv .nav>li>a:hover, #navDiv .nav>li>a:focus{
  color: #fff;
  background-color: #49443D;
}
#navDiv .nav>li.active>a,#navDiv .nav>li.active>a:hover{
  background-color: #B09573;
}
#navDiv .nav>li>a>i,#navDiv .nav>li>a>.fa, #navDiv .nav>li>a .glyphicon{
  font-size: 18px;
  margin-right: 15px;
}
#navDiv .nav>li:first-child>a{
  margin-top: 10px;
}
#navDiv .nav>li.active>ul>li>a{
  background-color: #49443D;
  padding: 6px 6px 6px 65px;
  font-size: 14px;
}
#navDiv .nav>li.active>ul>li>a:hover,#navDiv .nav>li.active>ul>li.active>a:hover{
  color: #B09573;
}
#navDiv .nav>li.active>ul>li.active>a{
  color: #B09573;
  background-color: transparent;
}
#navDiv .nav .nav-sub>a:hover{
  color: #fff;
  background-color: #49443D;
}
.nav-sub {
  height: 0;
  margin-left: -20px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.active .nav-sub{
  height: auto !important;
  margin-left: 0;
  overflow: auto;
  opacity: 1;

}

.nav>li>a>span>.fa-caret-down{
  font-size: 14px;
  margin-right: 15px;
  transition: transform .3s ease-in-out;
}
.nav>li.active>a>span>.fa-caret-down{
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.text-blue {
  color: #23b7e5;
}
.text-green{
  color:#27c24c
}
.text-purple{
  color:#8278c2
}
