.rolesList li{
 padding: 10px;
 text-align: center;
 border-radius: 6px;
 margin: 10px 30px;
 height: 150px;
 width: 152px;
  border: 2px solid #ffffff;
  position: relative;
}
.rolesList li .optBar{
  position: absolute;
  width:190px;
  visibility:hidden;
  left:-21px;
  top:-6px;
}
.rolesList li:hover{
 background: #ffffff;

}
.rolesList li:hover .optBar{
  visibility: visible;
}
.rolesList li.active{
 border-color:$brand-primary;
 background: #ffffff;
}
.rolesList li.active .optBar{
  visibility: visible;

}
.padding10{
 padding:0 20px;
}
.rolesList{
 padding-right: 50px;
}
.rolesList h3{
 margin: 5px 0px 0px 0px;
 font-size: 14px;
}
.rolesList .badge{
 padding: 5px 8px;
}
.rolesInfo{
 width: 400px;
 height:100%;
 background: rgba(255,255,255,0.9);
 position:absolute;
 right: 0;
 top:70px;
 color: #666;
 border-left: rgba(255,255,255,0.5);
 padding: 10px;
}
.rolesInfo h3{
 font-size: 15px;
 line-height: 24px;
}
.rolesDetail{
 line-height: 32px;
}
.rolesDetail li{
 padding: 3px 0;
}
.rolesInfo table{

}
.rolesInfo table td{
 padding: 5px;
 line-height: 24px;
 vertical-align:baseline;

}
.optBar{
 margin-top: 0px;
 padding: 10px 20px;
 border-top: 1px solid  rgba(255,255,255,0.1);
 text-align: right;
}
.padding0{
 padding: 0;
}
h3{
 background:#fffef6;
 margin:10px 0;
 padding: 4px;

}

body{
  overflow-x:hidden;
}
