
.chart {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 120px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
