/*modal*/
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  outline: 0;

  &.fade .modal-dialog {
    -webkit-transform: translate(25%, 0);
    -ms-transform: translate(25%, 0);
    transform: translate(25%, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  &.in .modal-dialog {
    right:0px ;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.modal-backdrop {
  background-color: rgba(0,0,0,0);
}
.modal-dialog {
  margin: 0px;
  position: absolute;
  right:0px;
  top:51px;
  border-radius: 0;
  .modal-content {
    border-radius: 0px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
  }
  .modal-header{
    background: #F5F4F2;
  }
  .modal-footer{
    background: #E6E4DF;
  }
}

.modal-body{
  min-height: 200px;
}
.modal-title{
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
}
.modal-footer{
  padding: 8px 15px;
}
.modal-dialog .modal-header, .modal-header{
  background: #f5f5f5;
}
.modal-dialog .modal-footer, .modal-footer{
  background: #f5f5f5;
}
