 .progress-small{
 height: 4px;
  margin-bottom: 0px;
}

ul.progress-list {
 padding-left: 20px;
 li {
  list-style: none;
 }
}


 .btn-cons {
   margin-right: 10px;
   min-width: 160px;
   margin-bottom: 0px;
 }
