<div class="header comm-header">
  <div class="pull-left comm-top-left">
    <h1>Trinity-OneUI 华云公用UI组件库</h1>
  </div>
  <div class="pull-right comm-top-right">
    <ul class="list-inline list-unstyled iconslist">
      <li><a data-ng-click="swithNav()">切换菜单栏</a></li>
      <li><span>欢迎您, <a><i class="fa fa-user m-r-10"></i>{{userName}}</a></span></li>

      <li><a class="" data-ng-click="changeUserRoles()"><i class="fa fa-cog m-r-10"></i>切换账户类型</a></li>
    <!--  <li><a href="#" class="fa fa-envelope-o"><span class="badge label-danger">3</span></a></li>-->
      <li><a class="fa fa-sign-out" tooltip="退出" tooltip-placement="bottom"></a></li>
     <!-- <li><a class="fa fa-language" data-ng-click="changeLang()" title="切换语言"></a></li>-->
    </ul>
  </div>
</div>
